*{
    /* padding,borderが要素の中に入る */
    box-sizing:border-box;
}

ul{
    /* リストの・を消す */
    margin:0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

body{
    margin: 0 auto;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
}

/* header */
header{
    position: fixed;
    background-color: #BBAFA3;
    outline: none;
    width: 100%;
    height: 40px;
    margin:0;
    display: flex;
    justify-content: space-between;
    padding-top:auto;
    padding-bottom: auto;
}

.header-title{
    color:#fff;
    margin-left: 5%;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 2.0px;
}

.header-content ul{
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    display: flex;
    flex-flow: row;
    letter-spacing: 2.0px;
}

.header-content li{
    list-style: none;
    padding-left: 0px;
    padding-right: 56px;
    color: #ffffff;
    vertical-align: middle;
}

@media screen and (max-width: 1010px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .header-content{
        width: 60%;
        min-width: 480px;
    }
    
    .header-content ul{
        font-size: 20px;
    }

    .header-content li{
        padding-left: 1px;
        padding-right: 5%;
    }

    .header-title{
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
	/* 700px以下に適用されるCSS（スマホ用） */
    .header-content{
        display: none;
    }
}

.project-period{
    letter-spacing: 0px;
    font-size:20px;
    text-align: center;
}

.project-title{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
}

.project-thumbnail{
    text-align: center;
    margin-top: 50px;
}

.project-thumbnail img{
    width: 70%;
    max-width: 500px;
}

.project-type{
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
}

.project-section{
    text-align: center;
    width:70%;
    margin: 0 auto;
}

.project-section-title{
    font-size: 25px;
    margin-top: 50px;
}

.section-contents{
    letter-spacing: 0px;
    font-size: 20px;
    overflow-wrap: normal;
}

p{
    overflow-wrap: break-word;
}

.keywords{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.tag{
    background-color:#CDDFE3;
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 10px;
}

/* first-v */

main{
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
    color: #262626;
}

