*{
    /* padding,borderが要素の中に入る */
    box-sizing:border-box;
}

ul{
    /* リストの・を消す */
    margin:0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

body{
    margin: 0 auto;
}


/* header */
header{
    position: fixed;
    background-color: #BBAFA3;
    outline: none;
    width: 100%;
    height: 40px;
    margin:0;
    display: flex;
    justify-content: space-between;
}

.header-title{
    color:#fff;
    padding: 0px 0px 0px 56px;
    font-family: operetta-52, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    vertical-align: middle;
    letter-spacing: 2.4px;
}

.header-content{
    padding: 0px 0px;
}

.header-content ul{
    font-family: operetta-52, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    display: flex;
    letter-spacing: 2.4px;
}

.header-content li{
    list-style: none;
    padding-left: 0px;
    padding-right: 56px;
    color: #ffffff;
    vertical-align: middle;
}

@media screen and (max-width: 1010px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .header-content ul{
        font-size: 20px;
        max-width: 70%;
    }

    .header-content li{
        padding-left: 1px;
        padding-right: 5%;
    }

    .header-title{
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
	/* 700px以下に適用されるCSS（スマホ用） */
    .header-content{
        display: none;
    }
}
/* first-v */

main{
    font-family: operetta-52, serif;
    letter-spacing: 7px;
    color: #262626;
}

.first-v{
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
}

.first-v_text{
    margin-top: 150px;
}

.name{
    width: 100%;
    text-align: left;
    font-size:50px;
    letter-spacing: 0px;
}

.name-line{
    width:450px;
}

.first-v_profile{
    width: 500px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 25px;
    padding-left: 20%;
    padding-top: 20px;
}

.first-v_image{
    margin-top: 100px;
}

.first-v_image img{
    width: 450px;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .first-v{
        max-width: 100%;
        display: flex;
        flex-flow: column;
        align-items: space-around;
        justify-content: space-around;
    }
    
    .name{
        font-size: 40px;
        margin-left: 10%;
    }

    .name-line{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .first-v_image{
        text-align: center;
    }

    .first-v_image img{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .first-v_profile{
        max-width: 95%;
    }
}

/* about */
.about-title{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
}

.about-profile{
    letter-spacing: 0px;
}

.about-name ul{
    list-style: none;
    font-size: 20px;
}

.about-name{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-flow: column;
    background-color: #CDDFE3;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .about-name{
        max-width:90%;
    }
}

.eng-profile{
    list-style: none;
    font-weight: 400;
    font-style: normal;
}

.resume{
    width: 350px;
    height:70px;
    background-color: transparent;
    font-family: operetta-52, serif;
    letter-spacing: 7px;
    color: #262626;
    outline-color: #262626;
    outline-width: 0.5px;
    font-size: 24px;
    box-shadow: 5px 5px 0 0 rgba(125,125,125,0.5);
}

.resume-button{
    margin-left: 50%;
    margin-top: -20px;
    padding-left: 30px;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .resume{
        text-align: center;
        width: 60%;
        height:70px;
        background-color: transparent;
        font-family: operetta-52, serif;
        letter-spacing: 7px;
        color: #262626;
        outline-color: #262626;
        outline-width: 0.5px;
        font-size: 24px;
        box-shadow: 5px 5px 0 0 rgba(125,125,125,0.5);
    }

    .resume-button{
        margin-left: auto;
        margin-right:auto;
        margin-top: -20px;
        padding-left: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 836px) {
    .resume-button{
        margin-left: auto;
        margin-right:auto;
        margin-top: -20px;
        padding-left: 0px;
        text-align: center;
    }
}

.projects-title{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
}

.projects-list{
    letter-spacing: 0px;
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 0px;
}

.projects-list li{
    width:300px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .projects-list{
        max-width: 1000%;
        letter-spacing: 0px;
        font-size: 20px;
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .projects-list li{
        max-width:100%;
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.projects-list a:hover{
    opacity:0.5;
    transition:0.3s;
}

.activities-title{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
}

.contact-title{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
}

.contact-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    font-size: 20px;
    letter-spacing: 0px;
    list-style: none;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 200px;
}