*{
    /* padding,borderが要素の中に入る */
    box-sizing:border-box;
}

ul{
    margin:0;
}

a{
    color: #ffffff;
    text-decoration: none;
}

body{
    margin: 0 auto;
    font-family: serif; 
}


/* header */
header{
    position: fixed;
    background-color: #BBAFA3;
    outline: none;
    width: 100%;
    height: 40px;
    margin:0;
    display: flex;
    justify-content: space-between;
    z-index: 50;
}

.header-title{
    color:#fff;
    margin-left: 5%;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 2.0px;
    margin-top: 5px;
}

.header-content ul{
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    display: flex;
    flex-flow: row;
    letter-spacing: 2.0px;
    margin-top: 5px;
}

.header-content li{
    list-style: none;
    padding-left: 0px;
    padding-right: 56px;
    color: #ffffff;
    vertical-align: middle;
}

@media screen and (max-width: 1500px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    
    .header-content ul{
        font-size: 20px;
        padding-right: 70px;
    }

    .header-content li{
        padding-left: 1px;
        padding-right: 2%;
    }

    .header-title{
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
	/* 700px以下に適用されるCSS（スマホ用） */
    .header-content{
        display: none;
    }
}
/* first-v */

main{
    font-family: serif; 
    color: #262626;
    font-size: 18px;
}

.first-v{
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
}

.first-v_text{
    margin-top: 150px;
    background-image: url('../img/first-v-bg.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.name{
    width: 100%;
    text-align: left;
    font-size:50px;
    letter-spacing: 0px;
}

.name-line{
    width:450px;
}

.first-v_profile{
    width: 500px;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 25px;
    padding-left: 20%;
    padding-top: 20px;
}

.first-v_image{
    margin-top: 100px;
}

.first-v_image img{
    width: 450px;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .first-v{
        max-width: 100%;
        display: flex;
        flex-flow: column;
        align-items: space-around;
        justify-content: space-around;
    }
    
    .name{
        font-size: 40px;
        margin-left: 10%;
    }

    .name-line{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .first-v_image{
        text-align: center;
    }

    .first-v_image img{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .first-v_profile{
        max-width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .first-v_text{
        padding-bottom: 130px;
    }
}

/* about */
.about-title{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
}

.about-content{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: space-around;
}

.about-profile{
    letter-spacing: 0px;
}

.about-name ul{
    list-style: none;
    font-size: 20px;
}

.about-name{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-flow: column;
    background-color: #CDDFE3;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .about-name{
        max-width:90%;
    }
}

.eng-profile{
    list-style: none;
    font-weight: 400;
    font-style: normal;
}

.resume{
    width: 350px;
    height:70px;
    background-color: transparent;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
    color: #262626;
    outline-color: #262626;
    outline-width: 0.5px;
    font-size: 24px;
    box-shadow: 5px 5px 0 0 rgba(125,125,125,0.5);
}

.resume-button{
    margin-left: 50%;
    margin-top: -20px;
    padding-left: 30px;
}

.resume:hover{
    background-color: #BBAFA3;
    transition:0.5s;
    color: #ffffff;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .resume{
        text-align: center;
        width: 60%;
        height:70px;
    }

    .resume-button{
        margin-left: auto;
        margin-right:auto;
        margin-top: -20px;
        padding-left: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 836px) {
    .resume-button{
        margin-left: auto;
        margin-right:auto;
        margin-top: -20px;
        padding-left: 0px;
        text-align: center;
    }
}

/* education */
/* https://www.w3schools.com/howto/howto_css_timeline.asp */
.education{
    position: relative;
}

.education-title{
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
}

.timeline{
    margin-bottom: 50px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #BBAFA3;
    top: 200px;
    bottom: 0;
    left: 25%;
    margin-left: -3px;
  }

.container {
    padding: 10px 40px;
    position: relative;
    width: 60%;
}

.container::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    right: -7px;
    background-color: white;
    border: 4px solid #CDDFE3;
    top: 37px;
    border-radius: 50%;
    z-index: 1;
  }

.right {
    left: 25%;
}


.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #CDDFE3;
    border-width: 10px 10px 10px 0;
    border-color: transparent #CDDFE3 transparent transparent;
}

.right::after {
    left: -7px;
}

.content {
    padding: 7px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.year-right{
    text-align: left;
}

@media screen and (min-width: 1300px) {
    .timeline::after {
        left: 35%;
    }
    
    .container {
        width: 60%;
    }

    .right {
        left: 35%;
    }
}

/* projects */
.projects{
    background-color: #CDDFE3;
}
.projects-title{
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
}

.feature{
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 20px 10% 0px 10%;
}

.intro{
    width: 100%;
    text-align: center;
    padding: 20px 10% 50px 10%;
}

.projects-list{
    letter-spacing: 0px;
    font-size: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 0px;
}

.projects-list li{
    width:320px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .projects-list{
        max-width: 1000%;
        letter-spacing: 0px;
        font-size: 20px;
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .projects-list li{
        max-width:100%;
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 100px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.projects-list a:hover{
    opacity:0.5;
    transition:0.3s;
}

.project-exp{
    font-size: 15px;
    color: #808080;
    text-align: center;
    margin-top: 5px;
}

.lab-tag-SPIN {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 280px;
    text-align: left;
    padding: 0 40px 0 18px;
    font-size: 18px;
    background: #efcd7e;
    color: #FFF;
    box-sizing: border-box;
    left: -50px;
    margin-bottom: 10px;
  }
  
.lab-tag-SPIN:after {
position: absolute;
content: '';
width: 0px;
height: 0px;
z-index: 1;
}

.lab-tag-SPIN:after {
top: 0;
right: 0;
border-width: 15px 15px 15px 0px;
border-color: transparent #CDDFE3; transparent transparent;
border-style: solid;
}

.lab-tag-HAL {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 300px;
    text-align: left;
    padding: 0 40px 0 18px;
    font-size: 18px;
    background: #BBAFA3;
    color: #FFF;
    box-sizing: border-box;
    left: -50px;
    margin-bottom: 10px;
}
  
.lab-tag-HAL:after {
position: absolute;
content: '';
width: 0px;
height: 0px;
z-index: 1;
}

.lab-tag-HAL:after {
top: 0;
right: 0;
border-width: 15px 15px 15px 0px;
border-color: transparent #CDDFE3 transparent transparent;
border-style: solid;
}

.lab-tag-ISL {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 280px;
    text-align: left;
    padding: 0 40px 0 18px;
    font-size: 18px;
    background: #aad0d8;
    color: #FFF;
    box-sizing: border-box;
    left: -50px;
    margin-bottom: 10px;
  }
  
.lab-tag-ISL:after {
position: absolute;
content: '';
width: 0px;
height: 0px;
z-index: 1;
}

.lab-tag-ISL:after {
top: 0;
right: 0;
border-width: 15px 15px 15px 0px;
border-color: transparent #CDDFE3 transparent transparent;
border-style: solid;
}

.lab-tag-CIL {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 280px;
    text-align: left;
    padding: 0 40px 0 18px;
    font-size: 18px;
    background: #bd8fa8;
    color: #FFF;
    box-sizing: border-box;
    left: -50px;
    margin-bottom: 10px;
}
  
.lab-tag-CIL:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.lab-tag-CIL:after {
    top: 0;
    right: 0;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #CDDFE3 transparent transparent;
    border-style: solid;
}

.lab-tag-CW {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 280px;
    text-align: left;
    padding: 0 40px 0 18px;
    font-size: 18px;
    background: #7e737d;
    color: #FFF;
    box-sizing: border-box;
    left: -50px;
    margin-bottom: 10px;
  }
  
.lab-tag-CW:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.lab-tag-CW:after {
    top: 0;
    right: 0;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}

/* publications */
.publications-title{
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
}

div.publist-container{
    text-align: center;
}

ul.pub-list{
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    text-align: left;
    width:70%;
}

.pub-items{
    padding-bottom: 10px;
    text-align: left;
    color:#000000;
}

/* activities */
.activities{
    background-color: #CDDFE3;
    margin-top: 0px;
    padding-bottom: 20px;
}

.acivities-contents{
    padding: 0 0;
}

.activities-title{
    font-size: 36px;
    text-align: center;
    padding-top:50px;
}

.activities-list{
    list-style: none;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding-left: 0px;
}

.activity{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.activity-title{
    width: 100%;
    color: #262626;
    font-size: 20px;
}

.activity-exp{
    width: 100%;
    height: 250px;
    overflow-wrap: normal;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}


.activity-mask:hover{
    opacity: 1;
    transition: 1s;
}

.activity:hover img{
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='10' result='b'/%3E%3CfeMorphology operator='dilate' radius='10'/%3E%3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
    transition: 10s;
}

.activity-mask{
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.more-aboutme{
    background-color: #ffffff;
    margin-top: 0px;
    padding-bottom: 20px;
}

.more-aboutme-title{
    font-size: 36px;
    text-align: center;
    padding-top:30px;
}

.more-aboutme-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.more-aboutme-content{
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
    width:500px;
    height:200px;
    background-color: #CDDFE3;
}

.more-aboutme-content p{
    margin-left: 50px;
    margin-top: 40px;
}

.more-aboutme-content ul{
    position: relative;
    left: 70px;
}

.contact-title{
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
}

.contact-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info{
    font-size: 20px;
    color: #ffffff;
    list-style: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-flow: column;
    background-color:#BBAFA3;
}


@media screen and (max-width: 480px) {
    .contact-info{
        max-width:90%;
    }
}